@model DoktormandenDk.Models.EConsultation

@{
    ViewData["Title"] = "Detaljer";
}

<h1>Detaljer</h1>

<div>
    <h4>EConsultation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Question)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Question)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuestionTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Answer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Answer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnswerTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnswerTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Closed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Closed)
        </dd>
        <dt class = "col-sm-2">
            Patient
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient.Name)
        </dd>
        <dt class = "col-sm-2">
            Læge
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GP.Name)
        </dd>
    </dl>
</div>
<div>

    <a asp-action="Index">Tilbage til listen</a>
</div>
