

@model DoktormandenDk.Models.EConsultation

@{
    ViewData["Title"] = "Besvar";
}

<h1>Besvar patient</h1>

<h4>EConsultation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditForGP">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="GPId" />
            <input type="hidden" asp-for="PatientId" />
            <input type="hidden" asp-for="EConsultationId" />
            <input type="hidden" asp-for="AnswerTime"  />
            <input type="hidden" asp-for="QuestionTime" />
            <input type="hidden" asp-for="Question" />

            <div class="form-group">
                <label asp-for="GPId" class="control-label">Læge</label>
                @Html.DisplayFor(model => model.GP.Name)
            </div>

            <div class="form-group">
                <label asp-for="Patient.Name" class="control-label">Patient</label>
                @Html.DisplayFor(model => model.Patient.Name)
            </div>
            <div class="form-group">
                <label asp-for="Question" class="control-label">Besked fra patienten</label>
                @Html.TextAreaFor(m => m.Question, new {@class="form-control" , disabled="disabled"}   )
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.QuestionTime)
                @Html.DisplayFor(model=>model.QuestionTime)
            </div>
            <div class="form-group">
                <label asp-for="Answer" class="control-label"></label>
                @Html.TextAreaFor(m => m.Answer, new {@class="form-control",@rows=10, @cols=40 })

            </div>
           
            <div class="form-group">
                <input type="submit" value="Besvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Tilbage til listen</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
