@model IEnumerable<DoktormandenDk.Models.EConsultation>

@{
    ViewData["Title"] = "eKonsultation";
}

<h1>eKonsultation</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Question)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuestionTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnswerTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Closed)
            </th>
            <th>
                Patient
            </th>
            <th>
                Læge
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Question)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnswerTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Closed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GP.Name)
            </td>
            <td>
                <a asp-action="EditForGP" asp-route-id="@item.EConsultationId">Besvar</a> |
                <a asp-action="Details" asp-route-id="@item.EConsultationId">Detaljer</a> |
                <a asp-action="Delete" asp-route-id="@item.EConsultationId">Slet</a>
            </td>
        </tr>
}
    </tbody>
</table>
